.height-fixed {
    width: 100%;
    background: #0868AC;
}
.cate-top {
    position: relative;
}
.cate-top-catefory {
    display: flex;
    align-items: center;
}
.cate-top__item .cate-top__link {
    color: #C0C0C0;
}
.cate-top__item.active .cate-top__link {
    color: #fff;
}
.cate-top__item + .cate-top__item {
    margin-left: 1rem;
}
.cate-top__item{
position: relative;
}
.cate-top__item:not(.active)::before{
    position: absolute;
    content: '\002F';
    color: #fff;
    top: 50%;
    right: -0.65rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.cate-top__text {
    padding: 3.125rem 0 4.5rem 0;
}
